body{
    background: url(../images/fundologin.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


#pwd-container{
    padding-top: 120px;
}

body {
    position: relative;
    font-family: Hind, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    font-family: Hind, sans-serif;
    color: white;
    line-height: 1.4;
    margin: 0 0 15px;
}

h1 {
    font-size: 80px;
    text-align: left;
}

h2 {
    font-size: 25px;
    text-align: left;
}



.bt_back {
    background-color: white;
    margin-top: 17px;
    color: black;
    font-size: 16px;
    border-radius: 0px;
    padding: 3% 5%;
    font-weight: 700;
    line-height: 1.4;
    text-align: center;
    display: inline-block;
}
.btn:hover, .btn:focus {
    background-color:#d8d8d8;
    color: black;
}


@media (max-width: 480px){
    #back{
        text-align: center;
    }

    h1 {
        text-align: center;
    }

    h2 {
        text-align: center;
    }
}